@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-ghost: #9074db;
}

@utility text-ghost {
  color: var(--color-ghost);
}

@utility bg-ghost {
  color: var(--color-ghost);
}
